@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
}

h1 {
  font-family: 'Playfair Display';
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  margin-top: 52px;
}
.top-text {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin: 12px 0 40px 0;
}
.dots {
  margin-top: 5px;
}
.top-descript {
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  line-height: 17.07px;
  color: #4F4F4F;
  max-width: 590px;
}
.top-img {
  width: 100%;
  height: 100%;
  max-width: 969px;
}


.ingredients {
  display: flex;
  justify-content: space-between;
  margin: 48px 0 28px 0;
  width: 100%;
  max-width: 969px;
}
h2 {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #333333;
}
h3 {
  font-family: 'Playfair Display';
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  color: #333333;
  margin: 38px 0 31px 0;
}

.list {
  display: flex;
  margin-bottom: 2px;
}
.end {
  margin-top: 16px;
}
.check {
  width: 21px;
  height: 21px;
  margin-right: 17px;
}
.list-ingredients {
  font-size: 16px;
  line-height: 25px;
  color: #333333;
  max-width: 554px;
}

/* --------right--------- */
.card {
  display: inline-block;
  padding: 57px 51px 7px 43.88px;
  border-radius: 12px;
  box-shadow: 0px 0px 20px 0px #0000001A;
}
.secs {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 43px;
}
.icon-cook {
  height: 27px;
  width: 25px;
}
.icon {
  height: 28px;
  width: 26px;
}
.card-title {
  font-size: 10px;
  font-weight: 700;
  color: #bdbdbd;
}
.example {
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.e-y {
  color: #f2994a;
}


.instructions {
  width: 100%;
  max-width: 969px;
  margin-bottom: 93px;
}
.inst {
  margin-bottom: 28px;
}
.pasos {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}
.ins-text {
  font-size: 16px;
  line-height: 20px;
  max-width: 528px;
}
.num {
  font-family: 'Playfair Display';
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  background-color: #f2994a;
  border-radius: 6px;
}
.n-uno {
  padding: 0px 15px 7px 14.8px;
}
.n-dos {
  padding: 0px 13.22px 7px
}
.n-tres {
  padding: 0px 13.65px 7px
}
.n-cuatro {
  padding: 0px 13.16px 7px
}
.n-cinco {
  padding: 0px 13.99px 7px
}
.n-seis {
  padding: 0px 12.77px 7px
}
.n-siete {
  padding: 0px 14.05px 7px
}
.source {
  font-size: 16px;
  font-style: italic;
  color: #bdbdbd;
  margin-top: 57px;
}

.created {
  font-size: 14px;
  margin-bottom: 24px;
  color: #828282;
}
.user {
  font-weight: 700;
  text-decoration: none;
  color: #828282;
}